## Exploración y procesamiento de datos

In [1]:
#Importar librerias necesarias
import funciones as fc
import pandas as pd

# Ajustar la configuración de visualización
pd.set_option('display.max_columns', None)

In [49]:
# Lista de tablas a procesar
tablas = ['HAPMEDIDA','APMEDIDA_CO','HFACTURACION','ORDENES','RECIBOS','TARIFAS','TRABPEND_FR','TRABPEND_RE']

In [50]:
#Almacenar los dataframes en diccionarios y validar tamaño de cada dataframe

diccionario_dataframes = {}

for tabla in tablas:
    df=fc.conexion_bd(tabla=tabla)
    diccionario_dataframes[tabla] = df

Tamaño del dataframe HAPMEDIDA: (28049, 119)
Tamaño del dataframe APMEDIDA_CO: (496906, 19)
Tamaño del dataframe HFACTURACION: (571266, 69)
Tamaño del dataframe ORDENES: (11654, 72)
Tamaño del dataframe RECIBOS: (763372, 77)
Tamaño del dataframe SUMCON: (37526, 106)
Tamaño del dataframe TARIFAS: (274, 2)
Tamaño del dataframe TRABPEND_FR: (1082527, 39)
Tamaño del dataframe TRABPEND_RE: (9503, 30)

In [37]:
print(diccionario_dataframes)

None

In [51]:
diccionario_dataframes_copia=diccionario_dataframes

In [52]:
#Conocer la cantidad de registros por tipo de columna en cada Dataframe

for tabla,df in diccionario_dataframes.items():
    print("="*20)
    value_counts_result = df.dtypes.value_counts()
    print(f"Cantidad de columnas {tabla} por tipo:")
    print(value_counts_result)

====================
Cantidad de columnas HAPMEDIDA por tipo:
object    118
int64       1
Name: count, dtype: int64
====================
Cantidad de columnas APMEDIDA_CO por tipo:
object    19
Name: count, dtype: int64
====================
Cantidad de columnas HFACTURACION por tipo:
int64      36
float64    24
object      9
Name: count, dtype: int64
====================
Cantidad de columnas ORDENES por tipo:
object    71
int64      1
Name: count, dtype: int64
====================
Cantidad de columnas RECIBOS por tipo:
object    76
int64      1
Name: count, dtype: int64
====================
Cantidad de columnas SUMCON por tipo:
object    105
int64       1
Name: count, dtype: int64
====================
Cantidad de columnas TARIFAS por tipo:
object    2
Name: count, dtype: int64
====================
Cantidad de columnas TRABPEND_FR por tipo:
object    38
int64      1
Name: count, dtype: int64
====================
Cantidad de columnas TRABPEND_RE por tipo:
object    30
Name: count, dtype: int64

In [53]:
# Calcular la cantidad de valores nulos por columna en cada Dataframe

for tabla,df in diccionario_dataframes.items():
    
    print("="*20)

    null_counts = df.isnull().sum()

    # Filtrar columnas con valores nulos
    null_counts = null_counts[null_counts >1]

    # Ordenar de mayor a menor cantidad de valores nulos
    null_counts = null_counts.sort_values(ascending=True)

    print(f"Analisis de valores nulos {tabla}: \n{null_counts}")

====================
Analisis de valores nulos HAPMEDIDA:
Series([], dtype: int64)
====================
Analisis de valores nulos APMEDIDA_CO:
Series([], dtype: int64)
====================
Analisis de valores nulos HFACTURACION:
CSMO_ACTIVA_ZE        2727
CSMO_PUNTA_ZE         2727
CSMO_VALLE_ZE         2727
CSMO_LLANO_ZE         2727
POT_LEIDA_HORA6       2741
POT_LEIDA_PPUNTA      2741
POT_LEIDA_AVALLE      2741
CSMO_HORA7_ZE         2741
CSMO_HORA6_ZE         2741
CSMO_PPUNTA_ZE        2741
CSMO_AVALLE_ZE        2741
POT_FACT_HORA7        2741
POT_FACT_PPUNTA       2741
POT_LEIDA_HORA7       2741
POT_FACT_AVALLE       2741
CSMO_REACT_HORA7      2741
CSMO_REACT_HORA6      2741
CSMO_REACT_PPUNTA     2741
CSMO_REACT_LLANO      2741
CSMO_FACT_HORA7       2741
CSMO_FACT_HORA6       2741
POT_FACT_HORA6        2741
IND_ESCISION         70963
dtype: int64
====================
Analisis de valores nulos ORDENES:
TIP_SERV          2
CO_SISTANUL       2
F_PUEST_TRAT      2
CO_ASIGNACION     2
IND_ONLINE        2
IND_ANOMALIA      2
IND_TPO           2
NUM_LOTE          2
USR_GEN_ORD       2
IND_MATERIALES    2
COD_PLAN          2
dtype: int64
====================
Analisis de valores nulos RECIBOS:
Series([], dtype: int64)
====================
Analisis de valores nulos SUMCON:
USR_NUMBER7    4420
USR_NUMBER6    4796
dtype: int64
====================
Analisis de valores nulos TARIFAS:
Series([], dtype: int64)
====================
Analisis de valores nulos TRABPEND_FR:
NUM_OS               1613
F_PROC_BDG           1613
IND_PROC_BDG         1613
DESC_IMPROC          1613
CO_IMPROC            1613
IND_DEN_PENAL        1613
MET_ESTIM            1613
SEC_REC              1613
F_FACT               1613
F_DESCONEXION        1613
MOTIVO_FR            1613
TIP_SERV             1613
GR_CONCEPTO          1613
COD_TAR              1613
REF_DIR              1613
TIP_ACCION           1613
NRO_ACTA_COMPR       1613
NRO_ACTA_FRAUDE      1613
CSMO_FACT            1613
IND_CV               1613
TIP_DER              1613
IND_ACTA             1613
NIC                  1613
IND_ESCISION        10817
USR_NUMBER1        996823
USR_NUMBER2        996823
dtype: int64
====================
Analisis de valores nulos TRABPEND_RE:
F_PCAMBEST        2
USR_RESP          2
TIP_CLI           2
COD_UNICOM_GEN    2
USUARIO_GEN       2
USR_NUMBER1       2
USR_NUMBER2       2
USR_NUMBER3       2
USR_NUMBER4       2
COD_PAP           2
IND_ESCISION      2
dtype: int64

In [54]:
# Analisis de valores unicos en las columnas de tipo texto para cada Dataframe

for tabla, df in diccionario_dataframes.items():

    print("Analisis valores unicos columnas tipo texto")

    total_filas = len(df)

    columnas_texto = df.select_dtypes(include='object').columns

    columna_nulas = null_counts[null_counts/total_filas > 0.59].index.tolist()

    for columna in columnas_texto:
        
        if df[columna].value_counts().mean()>1 and columna not in columna_nulas:
            
            print("="*100)

            porcentaje_valores_unicos = round(len(df[columna].value_counts())*100/len(df),2)
            
            print(f"Valores unicos columna {columna} | % valores unicos ({porcentaje_valores_unicos}):")
            
            print(df[columna].value_counts())

Analisis valores unicos columnas tipo texto
====================================================================================================
Valores unicos columna USUARIO | % valores unicos (0.68):
USUARIO
PASE01                            22690
KCANDELO                           2377
pase01                             1057
MODF_ABAR                           133
TR196058                            120
                                  ...
T0668058                              1
TR047158                              1
TR196069                              1
R5113746                              1
TR182270                              1
Name: count, Length: 191, dtype: int64
====================================================================================================
Valores unicos columna F_ACTUAL | % valores unicos (4.42):
F_ACTUAL
07/01/2021    4397
08/01/2021    3966
22/01/2021    2575
04/01/2021    2031
09/01/2021    1488
              ...
16/08/2017       1
14/02/2018       1
16/03/2018       1
03/02/2020       1
20200611         1
Name: count, Length: 1240, dtype: int64
====================================================================================================
Valores unicos columna PROGRAMA | % valores unicos (0.32):
PROGRAMA
FACB0001@14        4351
FACB0001@12        3975
FACB0001@18        3472
FACB0001@20        2510
Ini101             2377
                   ...
UP010REQ2609191       1
w_cn0135              1
FACB0010@38           1
FACB0012@14           1
FACB0010@40           1
Name: count, Length: 89, dtype: int64
====================================================================================================
Valores unicos columna NIS_RAD | % valores unicos (96.2):
NIS_RAD
        4165182    26
        4164904    26
        1361135    25
        4127488    24
        7633051    24
                   ..
4654404             1
4523958             1
4531136             1
4522894             1
4844816             1
Name: count, Length: 26983, dtype: int64
====================================================================================================
Valores unicos columna SEC_NIS | % valores unicos (0.27):
SEC_NIS
2.0     4939
3.0     3879
1.0     3239
4.0     1874
5.0     1750
        ...
85.0       1
68.0       1
62.0       1
73.0       1
72.0       1
Name: count, Length: 75, dtype: int64
====================================================================================================
Valores unicos columna EST_SUM | % valores unicos (0.02):
EST_SUM
EC012    19678
EC013     3692
EC000     3508
          1156
EC014       15
Name: count, dtype: int64
====================================================================================================
Valores unicos columna COD_CLI | % valores unicos (77.46):
COD_CLI
0.0           3500
              1156
35194560.0     110
34082723.0      42
20845838.0      32
              ...
24525523.0       1
24555600.0       1
24445434.0       1
24445500.0       1
35777245.0       1
Name: count, Length: 21728, dtype: int64
====================================================================================================
Valores unicos columna SEC_CTA | % valores unicos (0.24):
SEC_CTA
1.0     21734
0.0      3499
         1156
2.0      1039
3.0       265
        ...
49.0        1
50.0        1
51.0        1
52.0        1
24.0        1
Name: count, Length: 68, dtype: int64
====================================================================================================
Valores unicos columna POT | % valores unicos (4.84):
POT
0.0       3278
3000.0    1885
1000.0    1877
741.0     1744
          1156
          ...
6170.0       1
9861.0       1
4087.0       1
4950.0       1
365.0        1
Name: count, Length: 1357, dtype: int64
====================================================================================================
Valores unicos columna COD_TAR | % valores unicos (0.17):
COD_TAR
R13    21660
R23     3054
        1156
CA1      699
R33      672
R43      161
OX1      139
SP5      136
RT1       68
R21       63
R11       61
IA1       34
CK1       24
RS1       17
OW1       12
SP6        8
AS2        8
CA2        7
CV2        7
IX2        7
RT2        5
SI6        5
CZ1        4
SI5        3
R31        3
OS1        2
SA5        2
AS1        2
AP2        2
AS3        2
IA2        2
TZ6        2
IV2        2
SC6        2
SP7        2
OU2        2
R63        2
OS2        2
AR1        1
SC5        1
SI2        1
R53        1
RT3        1
CG2        1
OX2        1
IX1        1
CV1        1
AS4        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna GR_CONCEPTO | % valores unicos (0.03):
GR_CONCEPTO
21.0    13882
1.0     12785
         1156
2.0       106
22.0      101
3.0         8
23.0        5
4.0         4
24.0        2
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_MOD_CONT | % valores unicos (3.67):
F_MOD_CONT
31/12/2999    17467
               1156
18/08/2018      941
04/08/2018      823
12/04/2004      689
              ...
29/11/2002        1
13/03/2003        1
31/01/2003        1
08/01/2003        1
11/12/2007        1
Name: count, Length: 1029, dtype: int64
====================================================================================================
Valores unicos columna TIP_CONTR | % valores unicos (0.01):
TIP_CONTR
PC001    24288
PC000     2603
          1156
PC024        2
Name: count, dtype: int64
====================================================================================================
Valores unicos columna SEC_MOD | % valores unicos (0.06):
SEC_MOD
1.0     9090
2.0     6247
0.0     5140
3.0     4484
        1156
4.0     1153
5.0      506
6.0      219
8.0       25
7.0       15
9.0        7
10.0       3
12.0       1
19.0       1
13.0       1
11.0       1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_BAJA | % valores unicos (0.04):
F_BAJA
31/12/2999    26882
               1156
29/12/2006        2
17/03/2004        2
27/04/2005        2
31/10/2005        1
28/03/2005        1
24/09/2005        1
27/07/2005        1
05/04/2005        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_LVTO | % valores unicos (0.01):
IND_LVTO
2.0    26718
        1156
1.0      175
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_CORTE | % valores unicos (14.45):
F_CORTE
31/12/2999    11256
               1156
09/03/2016       66
08/03/2016       62
25/11/2020       42
              ...
26/08/2003        1
30/12/2015        1
02/04/2012        1
21/03/2012        1
15/02/2006        1
Name: count, Length: 4052, dtype: int64
====================================================================================================
Valores unicos columna POT_VALLE | % valores unicos (0.01):
POT_VALLE
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CSMO_FIJO | % valores unicos (1.63):
CSMO_FIJO
0.0       23168
           1156
108.0      1057
120.0       204
182.0       202
          ...
294.0         1
281.0         1
296.0         1
6920.0        1
648.0         1
Name: count, Length: 456, dtype: int64
====================================================================================================
Valores unicos columna HORA_UTIL | % valores unicos (0.07):
HORA_UTIL
8.0      26567
          1156
0.0        227
24.0        36
10.0        12
240.0       10
12.0         8
80.0         7
3.0          6
2.0          3
1.0          3
9.0          2
812.0        2
816.0        2
7.0          2
19.0         1
48.0         1
5.0          1
120.0        1
16.0         1
87.0         1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_PER_FACT | % valores unicos (0.01):
TIP_PER_FACT
PF012    26893
          1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna DURAC_CONT | % valores unicos (0.01):
DURAC_CONT
12.0    19542
0.0      7351
         1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna NUM_CORT | % valores unicos (0.14):
NUM_CORT
0.0     11149
1.0      5141
2.0      3094
3.0      2098
4.0      1366
         1156
5.0       957
6.0       743
7.0       550
8.0       377
9.0       307
10.0      219
11.0      168
12.0      141
13.0      120
14.0      101
15.0       68
16.0       51
17.0       43
18.0       40
19.0       28
20.0       22
21.0       22
23.0       18
24.0       15
22.0       10
25.0        9
27.0        7
28.0        6
26.0        6
29.0        5
36.0        2
31.0        2
35.0        2
42.0        1
37.0        1
32.0        1
46.0        1
33.0        1
30.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CONT_LECT_DIF | % valores unicos (0.02):
CONT_LECT_DIF
0.0    26877
        1156
1.0       14
3.0        1
2.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna ESTM_ANUAL | % valores unicos (0.75):
ESTM_ANUAL
0.0      10147
1.0       2002
2.0       1203
          1156
3.0       1121
         ...
219.0        1
198.0        1
232.0        1
191.0        1
202.0        1
Name: count, Length: 210, dtype: int64
====================================================================================================
Valores unicos columna ESTM_CONS | % valores unicos (0.63):
ESTM_CONS
0.0      23059
          1156
1.0        287
104.0      217
2.0        132
         ...
172.0        1
219.0        1
232.0        1
146.0        1
147.0        1
Name: count, Length: 176, dtype: int64
====================================================================================================
Valores unicos columna NUM_PLZA | % valores unicos (0.01):
NUM_PLZA
     26893
      1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IMP_FIAN | % valores unicos (0.01):
IMP_FIAN
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_DVOL_FIAN | % valores unicos (0.01):
F_DVOL_FIAN
31/12/2999    26893
               1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna AUS_CONS | % valores unicos (0.62):
AUS_CONS
0.0      22427
          1156
1.0        286
103.0      209
3.0        157
         ...
177.0        1
205.0        1
174.0        1
225.0        1
173.0        1
Name: count, Length: 173, dtype: int64
====================================================================================================
Valores unicos columna IND_MODIF_CONT | % valores unicos (0.01):
IND_MODIF_CONT
2.0    26883
        1156
1.0       10
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_RES_CONT | % valores unicos (12.71):
F_RES_CONT
12/12/2000    2549
04/08/1998    2049
              1156
29/04/2011    1066
13/05/2010     661
              ...
29/09/2014       1
20/09/2014       1
04/09/2014       1
12/08/2014       1
08/07/2015       1
Name: count, Length: 3565, dtype: int64
====================================================================================================
Valores unicos columna CONT_TRANS_POT | % valores unicos (0.01):
CONT_TRANS_POT
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CO_RECAR_FP | % valores unicos (0.01):
CO_RECAR_FP
RP001    26893
          1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_TRANS_POT | % valores unicos (0.01):
F_TRANS_POT
31/12/2999    26893
               1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna COD_CNAE | % valores unicos (0.42):
COD_CNAE
X001     20925
1         4761
          1156
00000      188
X002       165
         ...
1030         1
9420         1
6492         1
4642         1
8412         1
Name: count, Length: 117, dtype: int64
====================================================================================================
Valores unicos columna NIS_SOLIDARIO | % valores unicos (0.01):
NIS_SOLIDARIO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna COD_CLI_SOLIDARIO | % valores unicos (0.01):
COD_CLI_SOLIDARIO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna SEC_NIS_SOLIDARIO | % valores unicos (0.01):
SEC_NIS_SOLIDARIO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_AN_NODET | % valores unicos (0.01):
IND_AN_NODET
2.0    24575
1.0     2318
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_BONIF | % valores unicos (0.01):
IND_BONIF
2.0    26892
        1156
1.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_BONIF_REACT | % valores unicos (0.01):
IND_BONIF_REACT
2.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna POT_PUNTA | % valores unicos (0.01):
POT_PUNTA
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna POT_LLANO | % valores unicos (0.01):
POT_LLANO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CO_ESTM | % valores unicos (0.02):
CO_ESTM
ME210    20391
ME300     5936
          1156
ME000      551
ME600       15
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CONT_LECT_REP | % valores unicos (0.01):
CONT_LECT_REP
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_MULTA | % valores unicos (0.01):
TIP_MULTA
MU002    20761
MU001     6132
          1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TASA_MULTA | % valores unicos (0.01):
TASA_MULTA
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_RECARGO | % valores unicos (0.01):
TIP_RECARGO
RC002    26698
          1156
RC001      195
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TASA_RECARGO | % valores unicos (0.01):
TASA_RECARGO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna GRUPO_FAMIL | % valores unicos (0.13):
GRUPO_FAMIL
1.0      26634
          1156
0.0        213
11.0         5
8.0          3
17.0         2
111.0        2
10.0         2
12.0         2
13.0         2
49.0         2
32.0         1
35.0         1
37.0         1
220.0        1
3.0          1
69.0         1
18.0         1
44.0         1
193.0        1
47.0         1
40.0         1
39.0         1
4.0          1
300.0        1
110.0        1
103.0        1
80.0         1
46.0         1
71.0         1
217.0        1
322.0        1
15.0         1
7.0          1
61.0         1
5.0          1
129.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_ALTA_CONT | % valores unicos (10.35):
F_ALTA_CONT
31/12/2999    3499
12/12/2000    2533
04/08/1998    1850
              1156
30/05/2010    1042
              ...
01/04/2014       1
28/03/2014       1
26/03/2014       1
20/03/2014       1
12/03/2015       1
Name: count, Length: 2903, dtype: int64
====================================================================================================
Valores unicos columna CGV_SUM | % valores unicos (2.21):
CGV_SUM
                           21521
CASA                        1601
                            1156
              APTO   01      640
         P                   508
                           ...
              LOC  PE13        1
              LOC  PE11        1
              LOC  PEA8        1
              LOC  PEA7        1
TORR   4      APTO  702        1
Name: count, Length: 619, dtype: int64
====================================================================================================
Valores unicos columna NIF | % valores unicos (87.0):
NIF
              1156
36095741.0      94
35103685.0      83
36061314.0      81
36129989.0      74
              ...
24574161.0       1
24449190.0       1
24410240.0       1
24443415.0       1
35589503.0       1
Name: count, Length: 24402, dtype: int64
====================================================================================================
Valores unicos columna F_ALTA | % valores unicos (10.99):
F_ALTA
12/12/2000    2654
04/08/1998    2124
              1156
18/05/2010    1105
13/05/2010     676
              ...
05/05/2009       1
12/02/2018       1
12/06/2009       1
20/02/2018       1
05/06/1998       1
Name: count, Length: 3083, dtype: int64
====================================================================================================
Valores unicos columna NUM_EXP | % valores unicos (0.03):
NUM_EXP
                   26886
                    1156
                       2
P41102013020069        1
P41102004010006        1
P14112001020002        1
P92332016030006        1
P23102012080034        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_TENSION | % valores unicos (0.02):
TIP_TENSION
TT001    26822
          1156
TT012       55
TT999       14
TT013        2
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_FASE | % valores unicos (0.03):
TIP_FASE
FA001    18615
FA999     4351
FA002     2758
          1156

In [ ]:
# Depurar los dataframes con la función clean_data

for tabla,df in diccionario_dataframes.items():
    
    fc.clean_data(df)
    print(f'Data depurada {tabla}')

Data depurada HAPMEDIDA
Data depurada CLIENTES
Data depurada APMEDIDA_CO
Data depurada HFACTURACION
Data depurada INFORMES_LECT
Data depurada ORDENES

In [60]:
## Normalizar valores de las filas

columnas =['USUARIO','PROGRAMA']

for nombre_df, df in diccionario_dataframes.items():
    for columna in columnas:
        if columna in df.columns:
            df[columna] = df[columna].str.lower().str.strip()

AttributeError: Can only use .str accessor with string values!

In [57]:
# Analisis de valores unicos en las columnas de tipo texto para cada Dataframe

for tabla, df in diccionario_dataframes.items():

    print(f"Analisis valores unicos columnas tipo texto en dataframe {tabla}")

    total_filas = len(df)

    columnas_texto = df.select_dtypes(include='object').columns

    columna_nulas = null_counts[null_counts/total_filas > 0.59].index.tolist()

    for columna in columnas_texto:
        
        if df[columna].value_counts().mean()>1 and columna not in columna_nulas:
            
            print("="*100)

            porcentaje_valores_unicos = round(len(df[columna].value_counts())*100/len(df),2)
            
            print(f"Valores unicos columna {columna} | % valores unicos ({porcentaje_valores_unicos}):")
            
            print(df[columna].value_counts())

Analisis valores unicos columnas tipo texto
====================================================================================================
Valores unicos columna USUARIO | % valores unicos (0.61):
USUARIO
pase01       23942
kcandelo      2377
modf_abar      137
tr196058       120
tr194396       119
             ...
nt001269         1
tr047158         1
tr196069         1
r5113746         1
t0668058         1
Name: count, Length: 170, dtype: int64
====================================================================================================
Valores unicos columna F_ACTUAL | % valores unicos (4.42):
F_ACTUAL
07/01/2021    4397
08/01/2021    3966
22/01/2021    2575
04/01/2021    2031
09/01/2021    1488
              ...
16/08/2017       1
14/02/2018       1
16/03/2018       1
03/02/2020       1
20200611         1
Name: count, Length: 1240, dtype: int64
====================================================================================================
Valores unicos columna PROGRAMA | % valores unicos (0.31):
PROGRAMA
facb0001@14        4351
facb0001@12        3975
facb0001@18        3472
facb0001@20        2510
ini101             2377
                   ...
up010req2609191       1
w_cn0135              1
facb0010@38           1
facb0012@14           1
facb0012@12           1
Name: count, Length: 87, dtype: int64
====================================================================================================
Valores unicos columna NIS_RAD | % valores unicos (96.2):
NIS_RAD
        4165182    26
        4164904    26
        1361135    25
        4127488    24
        7633051    24
                   ..
4654404             1
4523958             1
4531136             1
4522894             1
4844816             1
Name: count, Length: 26983, dtype: int64
====================================================================================================
Valores unicos columna SEC_NIS | % valores unicos (0.27):
SEC_NIS
2.0     4939
3.0     3879
1.0     3239
4.0     1874
5.0     1750
        ...
85.0       1
68.0       1
62.0       1
73.0       1
72.0       1
Name: count, Length: 75, dtype: int64
====================================================================================================
Valores unicos columna EST_SUM | % valores unicos (0.02):
EST_SUM
EC012    19678
EC013     3692
EC000     3508
          1156
EC014       15
Name: count, dtype: int64
====================================================================================================
Valores unicos columna COD_CLI | % valores unicos (77.46):
COD_CLI
0.0           3500
              1156
35194560.0     110
34082723.0      42
20845838.0      32
              ...
24525523.0       1
24555600.0       1
24445434.0       1
24445500.0       1
35777245.0       1
Name: count, Length: 21728, dtype: int64
====================================================================================================
Valores unicos columna SEC_CTA | % valores unicos (0.24):
SEC_CTA
1.0     21734
0.0      3499
         1156
2.0      1039
3.0       265
        ...
49.0        1
50.0        1
51.0        1
52.0        1
24.0        1
Name: count, Length: 68, dtype: int64
====================================================================================================
Valores unicos columna POT | % valores unicos (4.84):
POT
0.0       3278
3000.0    1885
1000.0    1877
741.0     1744
          1156
          ...
6170.0       1
9861.0       1
4087.0       1
4950.0       1
365.0        1
Name: count, Length: 1357, dtype: int64
====================================================================================================
Valores unicos columna COD_TAR | % valores unicos (0.17):
COD_TAR
R13    21660
R23     3054
        1156
CA1      699
R33      672
R43      161
OX1      139
SP5      136
RT1       68
R21       63
R11       61
IA1       34
CK1       24
RS1       17
OW1       12
SP6        8
AS2        8
CA2        7
CV2        7
IX2        7
RT2        5
SI6        5
CZ1        4
SI5        3
R31        3
OS1        2
SA5        2
AS1        2
AP2        2
AS3        2
IA2        2
TZ6        2
IV2        2
SC6        2
SP7        2
OU2        2
R63        2
OS2        2
AR1        1
SC5        1
SI2        1
R53        1
RT3        1
CG2        1
OX2        1
IX1        1
CV1        1
AS4        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna GR_CONCEPTO | % valores unicos (0.03):
GR_CONCEPTO
21.0    13882
1.0     12785
         1156
2.0       106
22.0      101
3.0         8
23.0        5
4.0         4
24.0        2
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_MOD_CONT | % valores unicos (3.67):
F_MOD_CONT
31/12/2999    17467
               1156
18/08/2018      941
04/08/2018      823
12/04/2004      689
              ...
29/11/2002        1
13/03/2003        1
31/01/2003        1
08/01/2003        1
11/12/2007        1
Name: count, Length: 1029, dtype: int64
====================================================================================================
Valores unicos columna TIP_CONTR | % valores unicos (0.01):
TIP_CONTR
PC001    24288
PC000     2603
          1156
PC024        2
Name: count, dtype: int64
====================================================================================================
Valores unicos columna SEC_MOD | % valores unicos (0.06):
SEC_MOD
1.0     9090
2.0     6247
0.0     5140
3.0     4484
        1156
4.0     1153
5.0      506
6.0      219
8.0       25
7.0       15
9.0        7
10.0       3
12.0       1
19.0       1
13.0       1
11.0       1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_BAJA | % valores unicos (0.04):
F_BAJA
31/12/2999    26882
               1156
29/12/2006        2
17/03/2004        2
27/04/2005        2
31/10/2005        1
28/03/2005        1
24/09/2005        1
27/07/2005        1
05/04/2005        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_LVTO | % valores unicos (0.01):
IND_LVTO
2.0    26718
        1156
1.0      175
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_CORTE | % valores unicos (14.45):
F_CORTE
31/12/2999    11256
               1156
09/03/2016       66
08/03/2016       62
25/11/2020       42
              ...
26/08/2003        1
30/12/2015        1
02/04/2012        1
21/03/2012        1
15/02/2006        1
Name: count, Length: 4052, dtype: int64
====================================================================================================
Valores unicos columna POT_VALLE | % valores unicos (0.01):
POT_VALLE
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CSMO_FIJO | % valores unicos (1.63):
CSMO_FIJO
0.0       23168
           1156
108.0      1057
120.0       204
182.0       202
          ...
294.0         1
281.0         1
296.0         1
6920.0        1
648.0         1
Name: count, Length: 456, dtype: int64
====================================================================================================
Valores unicos columna HORA_UTIL | % valores unicos (0.07):
HORA_UTIL
8.0      26567
          1156
0.0        227
24.0        36
10.0        12
240.0       10
12.0         8
80.0         7
3.0          6
2.0          3
1.0          3
9.0          2
812.0        2
816.0        2
7.0          2
19.0         1
48.0         1
5.0          1
120.0        1
16.0         1
87.0         1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_PER_FACT | % valores unicos (0.01):
TIP_PER_FACT
PF012    26893
          1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna DURAC_CONT | % valores unicos (0.01):
DURAC_CONT
12.0    19542
0.0      7351
         1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna NUM_CORT | % valores unicos (0.14):
NUM_CORT
0.0     11149
1.0      5141
2.0      3094
3.0      2098
4.0      1366
         1156
5.0       957
6.0       743
7.0       550
8.0       377
9.0       307
10.0      219
11.0      168
12.0      141
13.0      120
14.0      101
15.0       68
16.0       51
17.0       43
18.0       40
19.0       28
20.0       22
21.0       22
23.0       18
24.0       15
22.0       10
25.0        9
27.0        7
28.0        6
26.0        6
29.0        5
36.0        2
31.0        2
35.0        2
42.0        1
37.0        1
32.0        1
46.0        1
33.0        1
30.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CONT_LECT_DIF | % valores unicos (0.02):
CONT_LECT_DIF
0.0    26877
        1156
1.0       14
3.0        1
2.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna ESTM_ANUAL | % valores unicos (0.75):
ESTM_ANUAL
0.0      10147
1.0       2002
2.0       1203
          1156
3.0       1121
         ...
219.0        1
198.0        1
232.0        1
191.0        1
202.0        1
Name: count, Length: 210, dtype: int64
====================================================================================================
Valores unicos columna ESTM_CONS | % valores unicos (0.63):
ESTM_CONS
0.0      23059
          1156
1.0        287
104.0      217
2.0        132
         ...
172.0        1
219.0        1
232.0        1
146.0        1
147.0        1
Name: count, Length: 176, dtype: int64
====================================================================================================
Valores unicos columna NUM_PLZA | % valores unicos (0.01):
NUM_PLZA
     26893
      1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IMP_FIAN | % valores unicos (0.01):
IMP_FIAN
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_DVOL_FIAN | % valores unicos (0.01):
F_DVOL_FIAN
31/12/2999    26893
               1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna AUS_CONS | % valores unicos (0.62):
AUS_CONS
0.0      22427
          1156
1.0        286
103.0      209
3.0        157
         ...
177.0        1
205.0        1
174.0        1
225.0        1
173.0        1
Name: count, Length: 173, dtype: int64
====================================================================================================
Valores unicos columna IND_MODIF_CONT | % valores unicos (0.01):
IND_MODIF_CONT
2.0    26883
        1156
1.0       10
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_RES_CONT | % valores unicos (12.71):
F_RES_CONT
12/12/2000    2549
04/08/1998    2049
              1156
29/04/2011    1066
13/05/2010     661
              ...
29/09/2014       1
20/09/2014       1
04/09/2014       1
12/08/2014       1
08/07/2015       1
Name: count, Length: 3565, dtype: int64
====================================================================================================
Valores unicos columna CONT_TRANS_POT | % valores unicos (0.01):
CONT_TRANS_POT
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CO_RECAR_FP | % valores unicos (0.01):
CO_RECAR_FP
RP001    26893
          1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_TRANS_POT | % valores unicos (0.01):
F_TRANS_POT
31/12/2999    26893
               1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna COD_CNAE | % valores unicos (0.42):
COD_CNAE
X001     20925
1         4761
          1156
00000      188
X002       165
         ...
1030         1
9420         1
6492         1
4642         1
8412         1
Name: count, Length: 117, dtype: int64
====================================================================================================
Valores unicos columna NIS_SOLIDARIO | % valores unicos (0.01):
NIS_SOLIDARIO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna COD_CLI_SOLIDARIO | % valores unicos (0.01):
COD_CLI_SOLIDARIO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna SEC_NIS_SOLIDARIO | % valores unicos (0.01):
SEC_NIS_SOLIDARIO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_AN_NODET | % valores unicos (0.01):
IND_AN_NODET
2.0    24575
1.0     2318
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_BONIF | % valores unicos (0.01):
IND_BONIF
2.0    26892
        1156
1.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna IND_BONIF_REACT | % valores unicos (0.01):
IND_BONIF_REACT
2.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna POT_PUNTA | % valores unicos (0.01):
POT_PUNTA
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna POT_LLANO | % valores unicos (0.01):
POT_LLANO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CO_ESTM | % valores unicos (0.02):
CO_ESTM
ME210    20391
ME300     5936
          1156
ME000      551
ME600       15
Name: count, dtype: int64
====================================================================================================
Valores unicos columna CONT_LECT_REP | % valores unicos (0.01):
CONT_LECT_REP
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_MULTA | % valores unicos (0.01):
TIP_MULTA
MU002    20761
MU001     6132
          1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TASA_MULTA | % valores unicos (0.01):
TASA_MULTA
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_RECARGO | % valores unicos (0.01):
TIP_RECARGO
RC002    26698
          1156
RC001      195
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TASA_RECARGO | % valores unicos (0.01):
TASA_RECARGO
0.0    26893
        1156
Name: count, dtype: int64
====================================================================================================
Valores unicos columna GRUPO_FAMIL | % valores unicos (0.13):
GRUPO_FAMIL
1.0      26634
          1156
0.0        213
11.0         5
8.0          3
17.0         2
111.0        2
10.0         2
12.0         2
13.0         2
49.0         2
32.0         1
35.0         1
37.0         1
220.0        1
3.0          1
69.0         1
18.0         1
44.0         1
193.0        1
47.0         1
40.0         1
39.0         1
4.0          1
300.0        1
110.0        1
103.0        1
80.0         1
46.0         1
71.0         1
217.0        1
322.0        1
15.0         1
7.0          1
61.0         1
5.0          1
129.0        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna F_ALTA_CONT | % valores unicos (10.35):
F_ALTA_CONT
31/12/2999    3499
12/12/2000    2533
04/08/1998    1850
              1156
30/05/2010    1042
              ...
01/04/2014       1
28/03/2014       1
26/03/2014       1
20/03/2014       1
12/03/2015       1
Name: count, Length: 2903, dtype: int64
====================================================================================================
Valores unicos columna CGV_SUM | % valores unicos (2.21):
CGV_SUM
                           21521
CASA                        1601
                            1156
              APTO   01      640
         P                   508
                           ...
              LOC  PE13        1
              LOC  PE11        1
              LOC  PEA8        1
              LOC  PEA7        1
TORR   4      APTO  702        1
Name: count, Length: 619, dtype: int64
====================================================================================================
Valores unicos columna NIF | % valores unicos (87.0):
NIF
              1156
36095741.0      94
35103685.0      83
36061314.0      81
36129989.0      74
              ...
24574161.0       1
24449190.0       1
24410240.0       1
24443415.0       1
35589503.0       1
Name: count, Length: 24402, dtype: int64
====================================================================================================
Valores unicos columna F_ALTA | % valores unicos (10.99):
F_ALTA
12/12/2000    2654
04/08/1998    2124
              1156
18/05/2010    1105
13/05/2010     676
              ...
05/05/2009       1
12/02/2018       1
12/06/2009       1
20/02/2018       1
05/06/1998       1
Name: count, Length: 3083, dtype: int64
====================================================================================================
Valores unicos columna NUM_EXP | % valores unicos (0.03):
NUM_EXP
                   26886
                    1156
                       2
P41102013020069        1
P41102004010006        1
P14112001020002        1
P92332016030006        1
P23102012080034        1
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_TENSION | % valores unicos (0.02):
TIP_TENSION
TT001    26822
          1156
TT012       55
TT999       14
TT013        2
Name: count, dtype: int64
====================================================================================================
Valores unicos columna TIP_FASE | % valores unicos (0.03):
TIP_FASE
FA001    18615
FA999     4351
FA002     2758
          1156
FA004      580
FA003      577
FA009       11
FA120        1
Name: count, dtype: int64
====================================================================================================

In [63]:
#Almacenar los dataframe en variables independientes para realizar cruces y obtener un solo dataframe
df_hapmedida=diccionario_dataframes['HAPMEDIDA']
df_apmedida=diccionario_dataframes['APMEDIDA_CO']
df_hapmedida=diccionario_dataframes['HFACTURACION']
df_tarifas=diccionario_dataframes['TARIFAS']
df_recibos=diccionario_dataframes['RECIBOS']
df_fraude=diccionario_dataframes['TRABPEND_FR']
df_reclamos=diccionario_dataframes['TRABPEND_RE']

In [ ]:
#Eliminar columnas no necesarias para el analisis
df_hapmedida = df_hapmedida.drop[['POT_PENAL','POT_PENAL_PUNTA','POT_PENAL_VALLE','POT_PENAL_LLANO','USR_NUMBER1',
                                  'USR_NUMBER2','USR_NUMBER3','USR_NUMBER4','USR_NUMBER5','USR_VARCHAR1','USR_VARCHAR2','USR_VARCHAR3',
                                  'DIAMETRO_CONEXION','IMP_DERECHOS_CONEX','KWH_DEPOSITO_FIANZA','IMP_DERECHOS_CONEX','SEC_NIS_SOLIDARIO',
                                  'IND_AN_NODET','IND_BONIF','IND_BONIF_REACT','POT_PUNTA','IND_MODIF_CONT','IMP_FIAN']]

df_apmedida.drop['IND_ESCISION','COEF_PER','SEC_REC','NUM_RUE','DIF_LECT','LECT']

In [ ]:
#Convertir las columnas que contiene fechas en tipo fecha para transformar a tipo periodo.

In [ ]:
#Realizar cruces para obtener información
df = pd.merge(df_apmedida,df_hapmedida on=['NIS_RAD'],how='left')
print(f'Total registros clientes: {len(df)}')

In [ ]:
df.F_BAJA.dt.year.value_counts().sort_index()

In [ ]:
#Filtrar clientes por estado Alta, ya que los clientes con estado de baja crean ruido dentro del procesamiento.
df= df[df["F_BAJA"] < '2999']